page-third {
	.description {
		height: 90px
	}

	/*.scroll-content{
		background: #E8F5E9;
	}*/

	img {
			width: 110px;
			height: 110px;
			border-radius: 50%;
    	margin-left: 37%;
    	//margin-right: 35%;
	}

	h1 {
    	text-align: center;
	}
}
